<style>
  .background {
    background-image: url("static/css/taobao.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    border: solid 2px red;
  }
  </style>
  <div class="background"> </div>
  
{% extends "base.html" %}

{% block content %}

<h2>Found Orders:</h2>
<div class="main">
  <section class="shopping-cart">
    <ol class="ui-list shopping-cart--list" id="shopping-cart--list">
      {% for order in order_data%}
        <li class="_grid shopping-cart--list-item" style="height: 200px;">
            <div class="_column product-image">
              <img src={{order.image_url}} alt={{order.product_name}} width="200" height="200">
            </div>
            <div class="_column product-info">
              <h4 class="product-name">{{order.product_name}}</h4>
              <p class="product-quantity">Quantity: {{order.quantity}}</p>
              <p class="product-quantity">Price: {{order.price}}</p>
              <p class="product-quantity">Fulfillment status: {{order.fulfill_status}}</p>
              <p class="product-quantity">Seller: <a href = "{{ url_for('public_view.public_view', uid = order.seller_id) }}"> {{order.sellername}} </a></p>
              <div class="price product-single-price">Subtotal: ${{order.price * order.quantity * 100 / 100}}</div>
            </div>
        </li>
      {% endfor %}
    </ol>
  </section>

  
</div>
<!-- <table class='table table-hover table-bordered container'>
  {% if order_data %}
  <tbody>
    {% for order in order_data%}
      <tr>
        <th scope="row">{{order.order_id}}</th>
        <td>{{order.product_name}}</td>
        <td><img src={{order.image_url}} alt={{order.product_name}} width="200" height="200"></td>
        <td>{{order.price}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.fulfill_status}}</td>
        <td>{{(order.price * order.quantity *100)/100}}</td>
      </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table> -->

{% endblock %}
